//
// Load core variables
// --------------------------------------------------

@import "../../vendor/bootstrap/less/variables.less";

//
// Variables
// --------------------------------------------------


//== Colors
//
//

@brand-primary: #f58220;


//== Typography
//
//##

@font-family-sans-serif:  "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;


//== Components
//
//##

@border-radius-base:  2px;
@border-radius-large: 2px;
@border-radius-small: 2px;


//== Container sizes
//
//##

@container-large-desktop: ((1000 + @grid-gutter-width));

