@import "bootstrap/variables.less";
@import "../vendor/bootstrap/less/mixins.less";

@vspacing-md: 30px;
@vspacing-lg: 40px;

body {
  position: relative;
}

h1, .h1, h2, .h2, h3, .h3 {
  letter-spacing: -0.04em;
}

h1 > .text-scale,
.h1 > .text-scale,
h1 > .text-xscale,
.h1 > .text-xscale {
  line-height: @headings-line-height * 0.8;
}

.text-scale {
  font-size: 1.2em;
}

.text-xscale {
  font-size: 1.4em;
}

.text-bold {
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: @line-height-computed * 0.5;
  &-lg { margin-bottom: @line-height-computed; }
  &-sm { margin-bottom: @line-height-computed * 0.25; }
  &-remove { margin-bottom: 0; }
}

.margin-top {
  margin-top: @line-height-computed * 0.5;
  &-lg { margin-top: @line-height-computed; }
  &-sm { margin-top: @line-height-computed * 0.25; }
  &-remove { margin-top: 0; }
}

.margin-left {
  margin-left: 10px;
  &-lg { margin-left: 15px; }
  &-sm { margin-left: 5px; }
  &-remove { margin-left: 0; }
}

.margin-right {
  margin-right: 10px;
  &-lg { margin-right: 15px; }
  &-sm { margin-right: 5px; }
  &-remove { margin-right: 0; }
}

.form-control {
  .box-shadow(none);
}



//== Header
//
//##

.main-header {
  padding-top: @line-height-computed;
  background-color: #fff;
  z-index: 10;
}

.main-header > .container {
  position: relative;
}

a.main-header-brand {
  display: block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  .transition(opacity .1s);

  &:focus > img,
  &:hover > img {
    opacity: .7;
  }
}

.main-header-brand img {
  height: @line-height-computed * 3;
  width: auto;
}

.main-header-brand span {
  display: inline-block;
  height: 45px;
  margin-left: 10px;
  vertical-align: bottom;
  line-height: 45px;
}

.main-header-brand span img {
  height: 100%;
  width: auto;
  vertical-align: bottom;
}

.main-header .login-toggle {
  display: block;
  text-transform: uppercase;
}

@media (max-width: @screen-xs-max) {
  .main-header-brand span {
    display: block;
    margin-top: 10px;
  } 
}

@media (max-width: @screen-sm-max) {
  .main-header > .container {
    width: 100%;
  }

  .main-header-brand,
  .main-header .login-toggle {
    text-align: center;
  }  

  .main-header .login-toggle {
    margin-top: ceil(@line-height-computed / 2);
  }
}

@media (min-width: @screen-md-min) {
  .main-header {
    .transition(padding-top .3s);
  }

  .main-header-brand {
    float: left;
  }

  .main-header .login-toggle {
    float: right;
    margin-top: @line-height-computed - 6;
  }

  .main-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: ceil(@line-height-computed / 2);
    .box-shadow(0 1px 30px rgba(0,0,0,.2));
  }

  .main-header.fixed .main-header-brand img {
    height: (@line-height-computed * 3) - 10;
  }

  .main-header.fixed .login-toggle {
    margin-top: @line-height-computed - 12;
  }
}

.main-navbar {
  height: 42px;
  margin-top: @line-height-computed;
  background-color: #eee;
}

@media (min-width: @screen-md-min) {
  .main-navbar-nav {
    display: table;
    width: 100%;
    margin: ceil(@line-height-computed / 2) 0;
  }

  .main-navbar-nav > li {
    display: table-cell;
    vertical-align: middle;
  }

  .main-navbar-nav > li + li {
    border-left: 1px solid #ddd;
  }

  .main-navbar-nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    text-transform: uppercase;
    text-align: center;
    color: inherit;

    &:focus,
    &:hover {
      opacity: .5;
    }
  }

  .main-navbar-nav > li:hover:after,
  .main-navbar-nav > li:focus:after,
  .main-navbar-nav > .active:after {
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: -10px;
    border-bottom: 3px solid @brand-primary;
  }

  .main-navbar-nav > .active > a {
    font-weight: bold;
  }

  .main-navbar-nav-toggle {
    display: none;
  }
}

@media (max-width: @screen-sm-max) {
  .main-navbar > .container {
    width: 100%;
  }

  .main-navbar-nav {
    display: none;
    position: relative;
    z-index: 10;
  }

  .main-navbar-nav-toggle {
    display: block;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: inherit;

    &:focus, &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  .main-navbar-nav {
    margin: 0 -15px;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
    #gradient > .vertical(#eee, #fff, 0, 20px);
  }

  .main-navbar-nav.collapse.in {
    display: block;
  }

  .main-header.fixed .main-navbar {
    margin-top: ceil(@line-height-computed / 2);
  }
}

@media (min-width: @screen-md-min) {
  .main-navbar .container {
    position: relative;
  }

  .main-header.fixed .main-navbar {
    margin-top: ceil(@line-height-computed / 2);
  }
}



//== Banner
//
//##

.main-banner {
  color: #fff;
  background: #1b5182;
  #gradient > .vertical(darken(#1b5182, 10%), #1b5182, 0, 50px);
}

.main-banner-content {
  position: relative;
  z-index: 1;
  padding: @line-height-computed 20px;
  text-align: center;
}

.main-banner-title {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 2.9em;
  text-transform: lowercase;
}

.main-banner-lead {
  margin-bottom: 1.5em;
  font-size: 1.5em;
  line-height: 1.1;
  text-transform: lowercase;
}

.main-banner-leadbox {
  display: inline-block;
  margin-bottom: 4em;
  padding: 1.1em 2em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  background-color: @brand-primary;
}

.main-banner-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  font-size: @font-size-base;
}

.main-banner .carousel-control {
  z-index: 1;
  text-shadow: none;
  background: transparent;
  .reset-filter();
} 

.main-banner .carousel-indicators {
  bottom: -50px;
}

@media (max-width: @screen-sm-max) {
  .main-banner-img {
    display: none !important;
  }
}

@media (min-width: @screen-md-min) {
  .main-banner {
    font-size: ceil(@font-size-base * 1.1);
  }

  .main-banner-content {
    height: 400px;
    margin-left: 350px;
  }

  .main-banner-img {
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    z-index: -1;
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .main-banner-img {
    right: @container-desktop - 500px;
  }  
}

@media (min-width: @screen-lg-min) {
  .main-banner-img {
    right: @container-large-desktop - 500px;
  }  
}



//== Section
//
//##

.main-subsection:first-child {
  padding-top: 0;
}

.main-subsection:last-child {
  padding-bottom: 0;
}

.main-title {
  margin-top: 0;
  margin-bottom: @line-height-computed;
}

@media (max-width: @screen-sm-max) {
  .main-section,
  .main-subsection {
    padding-top: @vspacing-md;
    padding-bottom: @vspacing-md;
  }
}

@media (min-width: @screen-md-min) {
  .main-section,
  .main-subsection {
    padding-top: @vspacing-lg;
    padding-bottom: @vspacing-lg;
  }
}



//== Footer
//
//##

.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #bebebe;
}

.main-footer .container {
  position: relative;
}

.main-footer .logo-elink,
.main-footer .logo-anatel {
  display: inline-block;
}

.main-footer .logo-elink {
  height: 60px;
  width: auto;
  -webkit-filter: grayscale(100%) opacity(45%);
     -moz-filter: grayscale(100%) opacity(45%);
      -ms-filter: grayscale(100%) opacity(45%);
       -o-filter: grayscale(100%) opacity(45%);
          filter: grayscale(100%) opacity(45%);
}

.main-footer .logo-anatel {
  color: #666;

  &:focus, &:hover {
    text-decoration: none;
    opacity: .7;
  }
}

.main-footer .logo-anatel span {
  display: block;
  font-size: 85%;
  margin-top: 5px;
}

.main-footer .totop {
  position: absolute;
  top: -10px;
  right: 20px;
  font-size: 26px;
  color: inherit;
  opacity: .3;
}

.main-footer .totop:focus,
.main-footer .totop:hover {
  opacity: .6;
}

@media (max-width: @screen-sm-max) {
  .main-footer {
    text-align: center;
  }
}

@media (min-width: @screen-md-min) {
  .main-footer .col-b {
    text-align: right;
  }
}


//== Empresa
//
//##

#empresa {
  padding-bottom: 0;
}

#empresa .main-subsection-a {
  padding-bottom: 0;
}

#empresa .main-subsection-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
  .clearfix();
}

#empresa .main-subsection-b ul > li {
  float: left;
  width: 50%;
  max-height: @line-height-computed * 12;
  overflow: hidden;
}

#empresa .main-subsection-b ul > li img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

@media (min-width: @screen-md-min) {
  #empresa .main-subsection-a .col-a {
    padding-right: 0;
  }

  #empresa .main-subsection-a .main-title {
    margin-top: 4%;
  }

  #empresa .main-subsection-b ul > li {
    width: 25%;
  }
}

@media (max-width: @screen-sm-max) {
  #empresa {
    text-align: center;  
  }
}



//== Tecnologia 4G
//
//##

@media (max-width: @screen-sm-max) {
  #tecnologia-4g {
    text-align: center;  
  }
}

@media (min-width: @screen-md-min) {
  #tecnologia-4g .col-a {
    padding-right: 0;
  }

  #tecnologia-4g .main-title {
    margin-top: -1%;
  }
}



//== Entretenimento
//
//##

#entretenimento {
  padding-top: 0; 
  padding-bottom: 0; 
}

@media (max-width: @screen-sm-max) {
  #entretenimento {
    text-align: center;
  }

  #entretenimento .container {
    width: 100%;
  }

  #entretenimento .col-a {
    background-color: #d1d0d0;  
  }

  #entretenimento .col-b {
    padding-top: @vspacing-md;
    padding-bottom: @vspacing-md;
  }
}

@media (min-width: @screen-md-min) {
  #entretenimento {
    background-color: #d1d0d0;
  }

  #entretenimento .main-title {
    margin-top: 22%;
    line-height: .8;
    letter-spacing: -0.05em;
    font-size: 60px;
  }
}



//== Internet Residencial
//
//##

@media (min-width: @screen-md-min) {

}

@media (max-width: @screen-sm-max) {
  #internet-residencial {
    text-align: center;
    #gradient > .vertical(#eee, #fff, 0, 40px);  
  }
}



//== Acesso Remoto
//
//##

#acesso-remoto {
  background-color: #ebebeb;
}

#acesso-remoto .logo-elink {
  height: 50px;
  width: auto;
}

@media (min-width: @screen-md-min) {
  #acesso-remoto {
    padding-top: 0;
  }

  #acesso-remoto .main-title {
    margin-top: 25%;
  }
}

@media (max-width: @screen-sm-max) {
  #acesso-remoto {
    text-align: center;
  }

  #acesso-remoto .plan-grid {
    margin-top: @vspacing-md - 20;
  }
}



//== Internet Corporativa
//
//##

#internet-corporativa {
  background-color: #ebebeb;
}

#internet-corporativa .logo-elink {
  height: 50px;
  width: auto;
}

@media (max-width: @screen-sm-max) {
  #internet-corporativa {
    margin-top: @vspacing-md;
    padding-bottom: 0;
    text-align: center;
  }
}

@media (min-width: @screen-md-min) {
  #internet-corporativa {
    margin-top: @vspacing-md;
  }

  #internet-corporativa .main-title {
    margin-top: 0;
  }
}


//== Contato
//
//##

#contato {
  padding-bottom: 0;
}

#contato .main-subsection-a {
  padding-bottom: 0;
}

#contato .main-subsection-a .logo-elink {
  height: 50px;
  width: auto;
}

#contato .main-subsection-a .main-title {
  margin-bottom: @vspacing-md;
}

#contato .main-subsection-a .contact-form {
  padding: 35px 25px;
  background-color: #f5f5f5;
}

#contato .main-subsection-a address {
  position: relative;
  padding: 35px 25px;
  background-color: #f5f5f5;
}

#contato .main-subsection-a address:before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  width: 40%;
  height: 3px;
  background-color: @brand-primary;
}

#contato .main-subsection-b {
  height: 460px;
  overflow: hidden;
}

#contato .main-subsection-b .map {
  width: 100%;
  height: 110%;
}

#contato .street-view-link {
  display: table;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  table-layout: fixed;
  color: inherit;
  background-color: #e5e5e5;
  transition: color 0.2s, background-color 0.2s;

  &-img, &-text {
    display: table-cell;
    padding: 40px;
  }

  &-img {
    background: url(../img/street-view-link-img.jpg);
    background-size: cover;
  }

  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
    background-color: @link-hover-color;
  }
}

@media (max-width: @screen-sm-max) {
  #contato .main-subsection-a {
    text-align: center;
  }

  #contato .main-subsection-a .main-title,
  #contato .main-subsection-a .contact-form {
    margin-bottom: ceil(@vspacing-md / 2);
  }
}



//== Planos
//
//##

.plan-grid {
  margin-bottom: @line-height-computed;
  .clearfix();
  opacity: 1;

  &.loading {
    opacity: 0;
    .transition(opacity .3s linear);
  }
}

.plan-grid table {
  margin: -8px 0 0;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.plan-grid table > tbody > tr > td > * {
  margin-top: 0;
  margin-bottom: 0;
}

.plan-grid table > tbody > tr {
  background-color: #ddd;
}

.plan-grid table > tbody > tr > td {
  padding: 15px;
  vertical-align: middle;
  border-top: none;
}

.plan-grid table > tbody > tr > td.plan-price {
  background-color: #ccc;
}

.plan-grid table > tbody > tr > td.plan-price > small {
  display: block;
  margin-right: .6em;
  font-size: .8em;
  font-weight: bold;
  line-height: 1;
}

.plan-grid .plan-grid-colored > tbody > tr > td .btn {
  background-color: rgba(255,255,255,.2);
  border-color: rgba(255,255,255,.3);

  &:focus, &:hover {
    background-color: rgba(255,255,255,.5);
  }
}

.plan-grid .plan-grid-colored > tbody > tr > td.plan-price {
  background-color: rgba(0,0,0,.1);
}  

.plan-grid .plan-grid-colored > tbody > tr > td.plan-price > small {
  color: inherit;
  opacity: .8;
}

.plan-grid table + small {
  display: block;
  margin-top: 10px;
}

@media (max-height: 768px) {
  .plan-grid table {
    margin: -1px 0 0;
    border-spacing: 0 1px;
  }

  .plan-grid table > tbody > tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: @screen-sm-max) {
  .plan-grid table > tbody > tr > td {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    white-space: normal;
    background-color: transparent !important;
  }

  .plan-grid table > tbody > tr > td.plan-price,
  .plan-grid table > tbody > tr > td.plan-actions {
    float: left;
    width: 50%;
  }

  .plan-grid table > tbody > tr > td.plan-price {
    text-align: right;
  }

  .plan-grid table > tbody > tr > td.plan-actions {
    text-align: left;
  }
}

//== Contact
//
//##

.contact-form {
  position: relative;
}

.contact-form.loading:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.5);
}



//== Modal
//
//##

.modal-backdrop {
  position: absolute;
}

.modal-header {
  padding-top: @line-height-computed + 15;
}

.modal-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 50%;
  height: 5px;
  background-color: @brand-primary;
}

.modal-footer {
  position: relative;
}

.modal-footer .logo-elink {
  position: absolute;
  left: 15px;
  top: 50%;
  width: auto;
  height: 34px;
  margin-top: -17px;
}

@media(max-height: 768px) {
  .modal-dialog {
    margin-top: 5px;
  }
}