/* by vitorgga */
a, a:link, a:visited {
    color: #333333;
}
a:hover {
    color: #000000;
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}

body {
    background: #EEEEEE;
}
body, table, input, textarea, select, button {
	color: #222222;
}

div#fancy_div {
	background: #FFFFFF !important;
	overflow-y: scroll !important;
}

hr {
	clear: both;
	border: none;
	border-bottom: 1px solid #CCCCCC;
	height: 1px;
}

input, select, textarea {
	background: #FFFFFF url('design/input.jpg') top repeat-x;
	border: 1px solid #999999;
	color: #000000;
	padding: 2px 5px;
}
input[type=checkbox], input[type=radio] {
	background: none;
	border: 0px solid;
}
button, .button {
	background: #E0DEDF url('design/button.jpg') top repeat-x;
	border: 1px solid #DDDDDD;
	color: #333333;
	font-weight: bold;
	font-size: 9pt;
	margin: 0px 2px;
    line-height: normal;
    padding: 5px;
    
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;       
}
.button, .button:link, .button:hover, .button:visited, .button:active {
	display: inline-block;
	color: #000000;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
button:hover, .button:hover {
	color: #000000 !important;
	background: #DDDDDD !important;
}

.curvas {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;   
}

a.tooltip span { display:none; } 
a.tooltip:hover span {
	font-size: 8pt;
	display:inline;
	position:absolute;
	background:#ffffff;
	border:1px solid #cccccc;
	color:#6c6c6c;
	padding: 3px;
}

p {
	padding: 10px 0;
}

#conteudo {
	padding: 0px;
}

h1, h2, h3, h4 {
    clear: both;
    margin: 0px;
    padding: 0px; 
}
h1 {
	border-bottom: 3px solid #CCCCCC;
	
	font-weight: bold;
	font-family: "Trebuchet MS",Tahoma;
	font-size: 16pt;
	padding: 5px 0;
	margin: 0 0 10px 0;
	color: #333333;
}
h1 a, h1 a:link, h1 a:hover, h1 a:visited {
    color: #333333;
}
h1 a.button {
	font-size: 9pt;
}
h2 {
    font-weight: bold;
    font-family: "Trebuchet MS",Tahoma;
    font-size: 22pt;
    color: #333333;
    padding: 10px 0;
}
h2 a, h2 a:link, h2 a:hover, h2 a:visited {
    color: #333333;
}
h3 {
    background: url('design/mask.png');
    color: #666666;
    font-family: "Trebuchet MS",Tahoma;
    font-weight: bold;
    font-size: 12pt;
    padding: 5px;
    margin: 0;
}
h3 a, h3 a:link, h3 a:hover, h3 a:visited {
    color: #666666;
}

.off {
	filter:alpha(opacity=25);
	-moz-opacity:.25;
	opacity:.25;
}
.off_hover:hover, .off_hover:hover * {
	filter:alpha(opacity=75);
	-moz-opacity:.75;
	opacity:.75;
}
.off_reverso:hover {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}

#tinymce, #tinymce p, #tinymce div, .rte_documento, .rte_documento p, .rte_documento div {
	margin: 10px;
	text-align: justify;
	line-height: 150%;
}

body.mceContentBody {
   background: #FFFFFF;
}

.ui-datepicker-trigger {
	display: inline-block;
	background: url('imagens/icones/1day.gif');
	width: 16px;
	height: 16px;
	vertical-align: middle;
	padding: 0;
	margin: 0 5px;
    cursor: pointer; cursor: hand;
}

.transparente, .transparente:hover {
    padding: 0;
	background: none;
	border: none;
}

/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

.inputAlert {
	border: 1px solid red;
}
.error {
	padding: 6px;
	border: 1px solid #FFCC00;
	background-color: #FFFFCC;
	font-weight: bold;
}

.a_desenvolvido {
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
}

.f_cadastro > span {
	display: inline-block;
    padding: 20px 10px;
    vertical-align: top;
}
.f_cadastro > span:hover {
	background: url('design/mask.png');
}
.f_cadastro > span > label {
    display: block;
    color: #666666;
    font-weight: bold;
}

.f_cadastro_linha > span {
	display: block;
	padding: 10px;
}
.f_cadastro_linha > span > label {
	display: inline-block;
	width: 20%;
	text-align: right;
	padding: 3px;
}
.f_cadastro_linha > span > div {
	display: inline-block;
}

.f_filtro > span {
	display: inline-block;
    padding: 20px 10px;
    vertical-align: middle;	
}
.f_filtro > span:hover {
	background: url('design/mask.png');
}
.f_filtro > span > label {
    display: block;
    font-weight: bold;
	filter:alpha(opacity=75);
	-moz-opacity:.75;
	opacity:.75;
}
.f_filtro span input, .f_filtro span select, .f_filtro span textarea {
    padding: 2px;
}

.t_listagem {
	border: 1px solid #DDDDDD;
}
.t_listagem input, .t_listagem select {
	padding: 1px;
}
.t_listagem thead tr td, .t_listagem tfoot tr td {
	background: url('design/mask.png');
	font-weight: bold;
	color: #333333;
}
.t_listagem tbody tr td {
	border-bottom: 1px solid #F2F2F2;
	color: #666666;
}
.t_listagem tbody tr:hover td {
	background: url('design/mask.png');
	color: #000000;
}
.t_listagem tbody tr td.td_destaque {
	background: url('design/mask.png');
	font-weight: bold;
}
.t_listagem .td_sel {
	background: url('design/mask.png');
}

#ui-datepicker-div {
	display: none;
}

#rd-geral {
	width: 990px;
	margin: auto;
}

#rd-topo {
	background: #2179A5;
	
	-moz-box-shadow: 0 5px 5px #ccc;
	-webkit-box-shadow: 0 5px 5px #ccc;
	box-shadow: 0 5px 5px #ccc;	
}
#rd-topo-meio {
	background: url('design/mask.png');
}
#rd-rodape-meio {
	padding: 10px;
	text-align: right;
}

#rd-pagina {
	padding: 30px 10px 10px 10px;
}
#rd-pagina.rd-pag-submenu {
	padding: 10px;
}

#rd-conteudo {
	clear: both;
	background: #FFFFFF;
	
	-moz-box-shadow: 0 5px 5px #ccc;
	-webkit-box-shadow: 0 5px 5px #ccc;
	box-shadow: 0 5px 5px #ccc;		
}

.a_logo {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	display: inline-block;
    width: 220px;
	text-align: center;
	margin: 10px;
	position: absolute;
}
.a_logo img {
	margin: 20px 10px;
}

.d_empresa {
	padding: 0 0 0 240px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	color: #FFFFFF;
	max-width: 375px;
	min-height: 70px;
}
.d_empresa a {
	color: inherit;
}

.d_logado {
	display: inline-block;
	text-align: right;
	float: right;
	vertical-align: top;
	margin: 10px;
	color: #FFFFFF;
	height: 60px;
}
.d_logado a {
	display: inline-block;
	color: #FFFFFF;
	padding: 0 5px;
	margin: 5px 0;
	max-width: 200px;
}
.d_logado * {
	vertical-align: middle;
}
.d_logado > img {
	float: right;
	margin: 0 0 0 5px;
	vertical-align: middle;
}

.d_menu {
	clear: right;
	padding: 0 0 0 250px;
	margin: 0 0 0 0;
	white-space: nowrap;
}
.d_menu a {
	background: #E0DEDF url('design/button.jpg') repeat-x;
	display: inline-block;
	padding: 8px 10px;
	margin: 0 2px;
	font-weight: bold;
	vertical-align: top;
}
.d_menu a:hover, .d_menu a.on {
	background: #FFFFFF;
}

.d_submenu {
	padding: 10px;
	width: 220px;
	margin: 20px 0;
}
.d_submenu a {
	display: block;
	padding: 15px;
	font-weight: bold;
}
.d_submenu a:hover, .d_submenu a.on {
	background: #EEEEEE;
}

fieldset {
    border: 1px solid #CCCCCC;
    
    padding: 10px;
    margin: 10px;
    
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
fieldset legend {
	font-weight: bold;
	
	background: #F2F2F2;
	padding: 5px;
	width: 40%;	
}

.d_botoes {
	text-align: center;
	padding: 20px 0;
}
.d_botoes a {
	display: inline-block;
	width: 169px;
	padding: 10px 0 !important;
	margin: 10px;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
}
.d_botoes a img {
	vertical-align: middle;
	margin: 10px;
	height: 48px;
}
.d_botoes a span {
	display: block;
}

.d_info {
    background: url('imagens/botoes/info.png') no-repeat -5px -5px;
	border: 1px solid #CCCCCC;
    
    padding: 30px;
    margin: 10px;
    
    font-weight: bold;
    
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;	
}
.d_info:hover { background-color: yellow; }

/*
 *
 *
*/
.erro {
   color: #FFF;
   font-weight: bolder;
   background-color: red;
   text-align: center;
   font-size: smaller;
}

.contents { 
  margin: 0 auto; 
  padding: 15px; 
  background: #fff; 
  border: 1px solid #eee; 
  width: 350px; 
  margin-top: 50px;
}

input[type=submit] {
   padding: 5px 30px;
}

.titulo {
   background-color: #F0F0F0;
   font-weight: bolder;
   padding: 10px 20px;
   text-align: center;
}

.form {
   margin-top: 20px;
}
