/* by vitorgga */

body, #rd-geral {
	background: #FFFFFF;
	width: 100%;
}

#rd-topo, #rd-rodape, .d_submenu {
	display: none;
}

#rd-pagina, #rd-conteudo {
    -moz-box-shadow: 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 !important;
	box-shadow: 0 0 0 !important;
}
