#d_mensagens {
	border: 1px solid #CCCCCC;
	height: 300px;
	overflow: hidden;
	overflow-y: scroll;
}
#d_mensagens div span {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #F6F6F6;
}
#d_mensagens div span:hover {
	background: #F2F2F2;
}
#d_mensagens div span small, #d_mensagens div span b {
	font-size: 8pt;
}
#d_mensagens div span p {
	padding: 0;
	font-size: 9pt;
}
#d_mensagens div span.msg_operador {
	color: blue;
}

#d_mensagens div span.msg_info * {
	background: #F2F2F2;
	color: #666666;
	font-size: 8pt;
}
#d_mensagens div span.msg_info b {
	display: none;
}
#d_mensagens div span.msg_info p {
	display: inline-block;
}

#d_tabs > div {
	height: 300px;
	overflow: hidden;
	overflow-y: scroll;
}