body {
	min-width: 940px;
}

body, table, input, textarea, select, button {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#rd-geral {
	-webkit-box-shadow: 0 0 15px #ccc;
     -moz-box-shadow: 0 0 15px #ccc;
          box-shadow: 0 0 15px #ccc;
}

.main-header {
	position: relative;
	height: 260px;
	font-size: 14px;
	line-height: 1.2;
	color: #555;
	background: #f3f3f3;
}

.main-header .brand {
	display: block;
	position: absolute;
	right: 30px;
	bottom: 15px;
  height: 60px;
 	background: url(imagens/logo.jpg) no-repeat;
}

.main-header:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -27px;
	background: url(imagens/main-header.jpg) no-repeat left;
}

.main-header .brand img {
	display: block;
	width: auto;
	height: 100%;
}

.main-header .greeting {
	display: block;
	position: absolute;
	top: 35%;
	left: 260px;
	font-size: 26px;
	color: inherit;
}

.main-header .greeting:hover,
.main-header .greeting:focus {
	text-decoration: none;
}

.main-header .greeting small {
	display: block;
	font-size: 85%;
}

.main-header .brand:focus,
.main-header .brand:hover,
.main-header .greeting:focus,
.main-header .greeting:hover {
	opacity: .7;
}

.main-header .contact {
	display: block;
	position: absolute;
	left: 310px;
	bottom: 40px;
	width: 380px;
	text-transform: uppercase;
}

.main-header .contact span {
	margin-left: .5em;
}

.main-header .logout {
	position: absolute;
	top: 10%;
	right: 0;
	padding: 10px 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #f58220;
}

.d_botoes {
	margin: -10px 0 0;
	padding: 0;
}

.d_botoes .button {
	margin: 10px;
	padding: 0 !important;
	background: transparent !important;
	border: 0;
}

.d_botoes .button:focus,
.d_botoes .button:hover {
	opacity: .7;
}

.d_botoes .button img {
	width: auto;
	height: 128px;
	margin: 0 auto;
}

.d_botoes .button span {
	display: block;
	margin-top: 5px;
	font-weight: 700;
	text-transform: uppercase;
	color: #444;
	font-size: 16px;
}

@media (min-width: 1020px) {
	.main-header .greeting,
	.main-header .contact {
		margin-left: 5%;
	}
}

@media (min-width: 1280px) {
	.main-header .greeting,
	.main-header .contact {
		margin-left: 10%;
	}
}